.video-frame {
  border-radius: 8px;
  overflow: hidden;
}

.custom-card p {
  text-align: center;
}

@media (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }
}

/* TODO - check real url, right now its on assets folder */
.imagem-fundo {
  background-image: url(./images/imagem-fundo.png);
  width: 100%;
  height: 100%;
}
